.nav-wrap {
  margin-top: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar {
  width: 200px;
}

.navbar-brand {
  display: none;
}

.nav-wrap .navbar {
  border-top-right-radius: 20px;
  height: 100%;
  background: var(--light);
  padding: 0px 0px 20px 0px;
  position: fixed;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.navbar-nav {
  display: flex;
  flex-direction: column !important;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Hide Scroll Bar in side bar. */
.nav-wrap .navbar::-webkit-scrollbar {
  width: 0; /* WebKit */
  height: 0; /* WebKit */
}

.nav-wrap .navbar .navbar-brand {
  text-align: center;
  margin-bottom: 15px;
}

.nav-wrap .navbar ul li {
  min-width: 200px;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  list-style: none;
}

.nav-wrap .navbar ul li:hover {
  background-color: var(--secondary);
}

.nav-wrap .navbar .nav-link {
  display: flex;
  align-items: center;
  padding: 0;
}
.nav-wrap .navbar .nav-link:hover {
  color: var(--primary);
}

.nav-icon {
  margin-right: 16px;
  font-size: 22px;
}

html body div#root div.app div.nav-wrap div.navbar.navbar-expand-md {
  align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .nav-wrap {
    margin-top: 0;
    margin: 0;
    padding: 0;
  }

  .nav-wrap .navbar {
    width: 100%;
    /* min-height: 80px; */
    overflow: visible;
    position: static;
    padding: 0;
    align-content: center;
  }

  .nav-wrap .navbar img {
    display: none;
  }

  .navbar-toggler {
    margin-right: 20px;
    margin-top: 12px;
    margin-bottom: 10px;
    height: 33px;
    width: 50px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
  }

  .navbar-brand {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 28pt;
  }

  .navbar {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px !important;
  }
}
