.nav-wrap {
  margin-top: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-wrap .navbar {
  display: flex;
  align-content: flex-start;
  border-top-right-radius: 20px;
  width: 200px;
  height: 100%;
  background: var(--light);
  padding: 0px 0px 20px 0px;
  position: fixed;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Hide Scroll Bar in side bar. */
.nav-wrap .navbar::-webkit-scrollbar {
  width: 0; /* WebKit */
  height: 0; /* WebKit */
}

.nav-wrap .navbar .navbar-brand {
  text-align: center;
  margin-bottom: 15px;
}

.nav-wrap .navbar ul li {
  min-width: 200px;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  list-style: none;
}

.nav-wrap .navbar ul li:hover {
  background-color: var(--secondary);
}

.nav-wrap .navbar .nav-link {
  display: flex;
  align-items: center;
  padding: 0;
}

.nav-icon {
  margin-right: 16px;
  font-size: 22px;
}
