.user-profile {
  width: 80%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  color: var(--text);
}

.update-icon {
  color: whitesmoke;
}

.user-profile img {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.profile-page-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile-pic-card {
  margin-left: 10px;
}

.profile-details {
  text-align: left;
  width: 80%;
  margin-left: 80px;
}

.profile-labels {
  font-size: 14pt;
  margin-bottom: 22px;
}

.profile-icons {
  margin-right: 12px;
}

.profile-fields {
  max-width: 600px;
}
.fixed-details {
  margin-bottom: 40px;
}

.profile-input {
  padding-right: 2px;
}

.profile-update-button {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 0;
}

@media screen and (max-width: 767px) {
  .user-profile {
    width: 98%;
  }

  .profile-page-wrap {
    flex-direction: column;
  }

  .profile-pic-card {
    margin-left: 0;
  }

  .profile-details {
    text-align: left;
    width: 100%;
    margin-left: 0;
  }

  .fixed-details {
    margin-top: 20px;
    margin-left: 20%;
  }

  .profile-fields {
    min-width: 100%;
  }
}
