.card-filestorage {
  margin: 0 auto 30px auto;
  max-width: 80%;
  color: var(--text);
}

.ui.selection.dropdown.filetype-dropdown {
  margin-left: 10px;
}

.card-body-filestorage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: first baseline;
  max-height: 80px;
  margin: 0 auto 16px auto;
  max-width: 60%;
  color: var(--text);
}

.file-delete {
  margin-left: auto;
  margin-right: 12px;
  cursor: pointer;
}

.storage-uploader {
  text-align: center;
}

.card-title-upload {
  padding-top: 10px;
  padding-left: 10px;
}

.file-type-icons {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 32pt;
}

.upload-file-tag {
  padding-bottom: 20px;
}

.file-storage-button {
  padding-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .card-filestorage {
    max-width: 98%;
  }

  .card-body-filestorage {
    max-width: 78%;
  }
}
