.card-filestorage {
    margin-bottom: 30px;
}

.ui.selection.dropdown.filetype-dropdown {
    margin-left: 10px;
}

.card-body-filestorage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: first baseline;
    max-height: 80px;
    margin-bottom: 16px;
}

.file-delete {
    margin-left: auto;
    margin-right: 12px;
    cursor: pointer;
}

.storage-uploader {
text-align: center;
}

.card-title-upload {
    padding-top: 10px;
    padding-left: 10px;
}

.file-type-icons {
    margin-left: 10px;
    margin-right: 20px;
    font-size: 32pt;
}