@import '../palette.css';

.subject-page-wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.create-subject-div {
  max-width: 80%;
  margin: 20px auto 20px auto;
  background: #f9f9f9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

.subject-inputs {
  padding: 30px 30px 0 30px;
}

.form-label {
  text-align: left;
  margin-left: 4px;
}

.subject-input {
  margin-bottom: 20px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.subject-page-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subject-cards {
  margin: 15px;
  width: 256px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #f9f9f9 !important;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.create-subject-button {
  padding-bottom: 30px;
}

.subject-card-body {
  display: flex;
  flex-direction: column;
  background: var(--text);
}

img.subject-image {
  max-width: 100%;
  min-height: 180px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.subject-delete-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

html
  body
  div#root
  div.app
  div.center
  div.subject-page-wrap
  div.card-body
  div.subject-page-cards
  div.subject-cards
  a
  button.MuiButtonBase-root.MuiCardActionArea-root.subject-card-body:hover {
  border-radius: 16px; /*overwrite hover corners*/
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
