.live {
  text-align: left !important;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}

.offline {
  display: flex;
  flex-direction: column;
  height: calc(100% - 130px);
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .offline {
    margin-top: auto;
    height: calc(100vh - 352px);
    margin-bottom: auto;
  }
}
