@import '../palette.css';

.tray {
  flex: none;
  height: 60px;
  background-color: var(--light);
  padding: 0 10px;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
