@import '../palette.css';

.tray {
  flex: none;
  height: 60px;
  background-color: var(--secondary);
  padding: 0 10px;
  display: flex;
  align-items: center;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}

.tray-button {
  background: transparent !important;
}