.lecture-page-wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.create-lecture-div {
  max-width: 80%;
  margin: auto;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lecture-inputs {
  width: 75%;
}

.lecture-create-form {
  padding-top: 20px;
  width: 80%;
}

.lecture-cards {
  margin-top: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.card-body-lecture {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: first baseline;
  max-height: 80px;
  margin-bottom: 16px;
}

.lecture-delete {
  margin-left: auto;
  margin-right: 12px;
  cursor: pointer;
}
