.home-page-wrap {
  display: flex;
  flex-direction: column;
}

.create-news-div {
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  color: var(--text);
}

.news-div {
  max-width: 80%;
  padding: 0;
  margin: 0 auto 30px auto;
  /* transition: all 0.5s linear; */
  color: var(--text);
}

img.news-image {
  width: 100%;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  margin-bottom: 16px;
}

.news-article-body {
  text-align: justify;
  margin-top: 20px;
  padding: 0 30px 30px 30px;
  white-space: pre-wrap;
}

.news-delete {
  margin-bottom: 16px;
}

.toggle-news-view {
  padding-top: 20px;
  color: rgb(152, 152, 152);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .create-news-div {
    width: 98%;
  }

  .news-div {
    max-width: 98%;
  }
}
