.home-page-wrap {
  display: flex;
  flex-direction: column;
}

.create-news-div {
  width: 80%;
  margin: auto;
}

.news-div {
  max-width: 80%;
  padding: 0;
  margin: 30px auto 0 auto;
}

img.news-image {
  width: 100%;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  margin-bottom: 16px;
}

.news-article-body {
  text-align: justify;
  margin-top: 20px;
  padding: 0 30px 30px 30px;
  white-space: pre-wrap;
}

.news-delete {
  margin-bottom: 16px;
}
