.card-filestorage {
    
    max-width: 50%;
    margin: auto !important;
}

.card-filestorage .card-body button {
    margin-left: 50%;
}

.uploader {
    display: flex;
}

.ui.selection.dropdown.filetype-dropdown {
    margin-left: 10px;
}