.login-picture {
  background-image: url('/src/assets/images/login.jpg');
  background-size: cover;
  min-height: 800px;
}

.login-form-div {
  width: 40%;
  background-color: white;
  margin: auto;
  margin-top: 60px;
}

.brandName {
  color: var(--text);
}

.registerForm {
  margin-top: 20px;
}

.login-footer {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer-link {
  color: var(--primary);
  margin-right: 20px;
}

.loginbutton {
  width: 120px;
  color: white;
}
