:root {
  --dominant: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
  --accent: #ececec;
  --light: #f2f2f2;
  --text: hsla(193, 100%, 8%, 1);
  --primary: rgb(47, 104, 134);
  --secondary: #d8d8d8;
}
