:root {
  --dark-jungle-green: hsla(193, 100%, 8%, 1);
  --tart-orange: hsla(0, 90%, 65%, 1);
  --cerulean-crayola: hsla(192, 100%, 41%, 1);
  --alice-blue: hsla(208, 46%, 89%, 1);
  --cultured: hsla(0, 0%, 94%, 1);
}