@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to right, #cdcfd0, #949dcd);
}

.app {

  display: grid;
  height: 100vh;
  overflow: auto;
  grid-template-rows: 100px auto 60px;
  grid-template-areas: 'header' 'body' 'footer';
}


.nav-bar {
  grid-area: header;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    0px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    0px 5px 15px 5px rgba(0, 0, 0, 0);
}

.center {
  grid-area: body;
  padding-bottom: 8px;
}

.bottom {
  grid-area: footer;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    0px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    0px 5px 15px 5px rgba(0, 0, 0, 0);
}