.public-chat-wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.public-chat-body {
  flex-grow: 1;
  max-height: 78vh;
  display: flex;
  flex-direction: column;
}

.chat-wrapper{
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.message-form {
  display: flex;
  align-items: center;
}

/* .jsx-messages {
  
} */

.message-body {
  display: flex;
  align-items: center;
  max-width: 55%;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  margin-bottom: 10px;
  overflow-wrap:break-word;
}

.message-box-user {
  margin-right: 10px;
  margin-left: auto;
  background: var(--primary);
  color: var(--light);
  border-bottom-right-radius: 0;
}

.message-box-sender {
  margin-right: auto;
  margin-left: 10px;
  background-color: var(--secondary);
  border-top-left-radius: 0;
}

/* User Avatar */
.MuiAvatar-root.MuiAvatar-circle.message-avatar-user.MuiAvatar-colorDefault {
  background: var(--text);
  margin: 10px;
}

/* Sender Avatar */
.MuiAvatar-root.MuiAvatar-circle.message-avatar-sender.MuiAvatar-colorDefault {
  background: var(--text);
  margin: 10px;
}

.message-sender {
  padding: 10px;
}

.message-content {
  text-align: left;
  min-width: 0; 
  margin: 10px 10px 10px 20px;
}

.message-time {
  margin-left: auto;
  margin-right: 10px;
  font-size: 0.8em;
}

.MuiFab-root.MuiFab-sizeSmall {
  background: var(--dominant);
  color: var(--text);
  background-size: 200% auto;
  background-position: right center;
  margin-left: 10px;
  margin-bottom: 14px;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-fullWidth.MuiInputBase-formControl {
  background: white;
  max-height: 48px;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}
