.public-chat-wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.card-body.public-chat-body {
  /* box-sizing: border-box; */
  flex-grow: 1;
  max-height: 78vh;
  display: flex;
  flex-direction: column;
}

.chat-wrapper{
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.message-form {
  display: flex;
  align-items: center;
}

.jsx-messages {
  border-left: 1px solid rgb(196, 196, 196);
}

.message-form {
  display: flex;
  align-items: center;
}

.public-chat-title-div {
  -webkit-box-shadow: -10px 0px 13px -7px #00000048, 10px 0px 13px -7px #00000048,  0px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #00000048, 10px 0px 13px -7px #00000048,  0px 5px 15px 5px rgba(0, 0, 0, 0);
  margin-bottom: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.public-chat-title {
  text-align: center;
  padding: 20px;
  color: var(--dominant);
  font-size: 36pt;
  background-color: var(--light);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.message-body {
  display: flex;
  align-items: center;
  max-width: 55%;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  margin-bottom: 10px;
  overflow-wrap:break-word;
}

.message-box-user {
  margin-right: 10px;
  margin-left: auto;
  background-color: var(--dominant);
  border-bottom-right-radius: 0;
}

.message-box-sender {
  margin-right: auto;
  margin-left: 10px;
  background-color: var(--accent);
  border-top-left-radius: 0;
}

/* User Avatar */
.MuiAvatar-root.MuiAvatar-circle.message-avatar-user.MuiAvatar-colorDefault {
  background-color: var(--slate-gray);
  margin: 10px;
}

/* Sender Avatar */
.MuiAvatar-root.MuiAvatar-circle.message-avatar-sender.MuiAvatar-colorDefault {
  background-color: var(--slate-gray);
  margin: 10px;
}

.message-sender {
  padding: 10px;
}

.message-content {
  text-align: left;
  min-width: 0; 
  margin: 10px;
}

.message-time {
  margin-left: auto;
  margin-right: 10px;
  font-size: 0.8em;
}

.MuiFab-root.MuiFab-sizeSmall {
  background-color: var(--dominant);
  margin-left: 10px;
  margin-bottom: 16px;
}
