.message-box-priv {
  display: flex;
  align-items: center;
  background-color: rgb(23, 90, 162);
  margin-bottom: 10px;
}

/* Priv Avatar */
.MuiAvatar-root.MuiAvatar-circle.message-avatar-priv.MuiAvatar-colorDefault {
  background-color: rgb(92, 148, 110);
  margin: 10px;
}

.start-conversation {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.ui.selection.dropdown.conversation-dropdown {
  margin-left: 10px;
}

.private-chat-layout {
  
  display: grid;
  gap: 10px;
  grid-template-columns: 20% 1fr;
  /* padding-bottom: 30px; */
  /* grid-template-rows: 100%; */
}
